@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --medium: Poppins;

  /* font sizes */
  --medium-size: 24px;

  /* Colors */
  --ffffff: #fff;
  --color: #383838;
  --color1: #005642;
}